[submodule "external/SDK/googletest/googletest"]
	path = external/SDK/googletest/googletest
	url = git@github.com:google/googletest.git
	branch = main
[submodule "external/SDK/glfw/glfw"]
	path = external/SDK/glfw/glfw
	url = git@github.com:glfw/glfw.git
